*, h1, h2, h3, h4, input, p, img {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

@media screen and (max-width: 800px) {
  html {
    font-size: 125px; } }

@media screen and (max-width: 640px) {
  html {
    font-size: 100px; } }

@media screen and (max-width: 540px) {
  html {
    font-size: 84.375px; } }

@media screen and (max-width: 470px) {
  html {
    font-size: 73.4375px; } }

@media screen and (max-width: 414px) {
  html {
    font-size: 64.6875px; } }

@media screen and (max-width: 412px) {
  html {
    font-size: 64.375px; } }

@media screen and (max-width: 375px) {
  html {
    font-size: 58.59375px; } }

@media screen and (max-width: 360px) {
  html {
    font-size: 56.25px; } }

@media screen and (max-width: 320px) {
  html {
    font-size: 50px; } }

body, html {
  overflow: hidden; }

.din {
  width: 100%;
  height: 1.2rem;
  background: #18191d;
  position: relative;
  color: #fff;
  text-align: center;
  line-height: 1.2rem;
  font-size: 18px;
  display: block; }
  .din img {
    width: 0.23rem;
    height: 0.38rem;
    position: absolute;
    left: 0.25rem;
    top: 0.43rem; }
  .din span a {
    width: 0.9rem;
    height: 0.5rem;
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 0.04rem;
    left: 0.45rem; }

.tiao {
  width: 100%;
  height: 0.03rem;
  background: #9b9693;
  background-color: rgba(0, 0, 0, 0.7); }

.diy {
  width: 100%;
  height: 1.96rem;
  background: url(../img/tu1.png) no-repeat;
  background-size: cover;
  position: relative; }
  .diy .yi {
    width: 100%;
    height: 0.5rem;
    background: #000000;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    left: 0; }
    .diy .yi ul {
      text-align: center;
      line-height: 0.5rem;
      font-size: 0.2rem;
      color: #ffffff; }

.die {
  width: 100%;
  height: 1.96rem;
  margin-top: 0.05rem;
  background: url(../img/tu2.png) no-repeat;
  background-size: cover;
  position: relative; }
  .die .er {
    width: 100%;
    height: 0.5rem;
    background: #000000;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    left: 0; }
    .die .er ul {
      text-align: center;
      line-height: 0.5rem;
      font-size: 0.2rem;
      color: #ffffff; }

.disa {
  width: 100%;
  height: 1.96rem;
  margin-top: 0.05rem;
  background: url(../img/wu3.png) no-repeat;
  background-size: cover;
  position: relative; }
  .disa .san {
    width: 100%;
    height: 0.5rem;
    background: #000000;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    left: 0; }
    .disa .san ul {
      text-align: center;
      line-height: 0.5rem;
      font-size: 0.2rem;
      color: #ffffff; }

.dis {
  width: 100%;
  height: 1.96rem;
  margin-top: 0.05rem;
  background: url(../img/wutu1.png) no-repeat;
  background-size: cover;
  position: relative; }
  .dis .si {
    width: 100%;
    height: 0.5rem;
    background: #000000;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    left: 0; }
    .dis .si ul {
      text-align: center;
      line-height: 0.5rem;
      font-size: 0.2rem;
      color: #ffffff; }

.diw {
  width: 100%;
  height: 1.96rem;
  margin-top: 0.05rem;
  background: url(../img/wu5.png) no-repeat;
  background-size: cover;
  position: relative; }
  .diw .wu {
    width: 100%;
    height: 0.5rem;
    background: #000000;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    left: 0; }
    .diw .wu ul {
      text-align: center;
      line-height: 0.5rem;
      font-size: 0.2rem;
      color: #ffffff; }
