*, h1, h2, h3, h4, input, p, img {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

@media screen and (max-width: 800px) {
  html {
    font-size: 125px; } }

@media screen and (max-width: 640px) {
  html {
    font-size: 100px; } }

@media screen and (max-width: 540px) {
  html {
    font-size: 84.375px; } }

@media screen and (max-width: 470px) {
  html {
    font-size: 73.4375px; } }

@media screen and (max-width: 414px) {
  html {
    font-size: 64.6875px; } }

@media screen and (max-width: 412px) {
  html {
    font-size: 64.375px; } }

@media screen and (max-width: 375px) {
  html {
    font-size: 58.59375px; } }

@media screen and (max-width: 360px) {
  html {
    font-size: 56.25px; } }

@media screen and (max-width: 320px) {
  html {
    font-size: 50px; } }

body, html {
  overflow: hidden; }

.zui {
  width: 100%;
  height: 1.2rem;
  background: #18191d;
  position: relative;
  color: #fff;
  text-align: center;
  line-height: 1.2rem;
  font-size: 18px;
  display: block; }
  .zui img {
    width: 0.23rem;
    height: 0.38rem;
    position: absolute;
    left: 0.25rem;
    top: 0.43rem; }
  .zui span a {
    width: 0.9rem;
    height: 0.5rem;
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 0.04rem;
    left: 0.45rem; }

.tiao {
  width: 100%;
  height: 0.03rem;
  background: #9b9693;
  background-color: rgba(0, 0, 0, 0.7); }

.zhe {
  width: 100%;
  height: 3.37rem;
  background: url(../img/zai1.png) no-repeat;
  background-size: cover;
  position: relative; }
  .zhe .diyi {
    width: 100%;
    height: 0.5rem;
    background: #000000;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    left: 0; }
    .zhe .diyi ul {
      text-align: center;
      line-height: 0.5rem;
      font-size: 0.2rem;
      color: #ffffff; }

.na {
  width: 100%;
  height: 3.37rem;
  background: url(../img/zai2.png) no-repeat;
  background-size: cover;
  position: relative; }
  .na .dier {
    width: 100%;
    height: 0.5rem;
    background: #000000;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    left: 0; }
    .na .dier ul {
      text-align: center;
      line-height: 0.5rem;
      font-size: 0.2rem;
      color: #ffffff; }

.wa {
  width: 100%;
  height: 3.37rem;
  background: url(../img/zai3.png) no-repeat;
  background-size: cover;
  position: relative; }
  .wa .disan {
    width: 100%;
    height: 0.5rem;
    background: #000000;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    left: 0; }
    .wa .disan ul {
      text-align: center;
      line-height: 0.5rem;
      font-size: 0.2rem;
      color: #ffffff; }
