@import 'public';

@mixin userem($size){
  $list:900px,800px,750px,640px,600px,540px,500px,470px,414px,412px,375px,360px,320px;
  @each $i in $list{
    @media screen and (max-width:#{$i}){
      html{
        font-size: 100px*($i/$size);
      }
    }
  }
}
@include userem(640px);
body{
  overflow: hidden;
}
.black{
  width:100%;
  height:1.18rem;
  position: relative;
  h1{
    width:1.47rem;
    height:0.38rem;
    font-size: 20px;
    @include leftright;
    bottom:0.1rem;
  }
}
.plan{
  width: 100%;
  height:100%;
  background:#F1F3F2;
  position: relative;
  //第一个信息表
  img{
    width:100%;
    height:100%;
    overflow: hidden;
  }
span{
  width:2.49rem;
  height:0.29rem;
  text-align: center;
  line-height:0.29rem ;
  position: absolute;
  left:0.35rem;
  top:0.58rem;
  font-weight: 800;
  font-size: 14px;
  background:url(../img/xing1.jpg)no-repeat;

}
  .xm{
    width:5.5rem;
    height:0.79rem;
    background: #fff;
    border:1px solid #dfdfdf;
    font-size: 18px;
    font-weight: 800;
    line-height: 0.79rem;
    padding-left: 0.2rem;
    position: absolute;
    left: 0.36rem;
    top:1.11rem;
    input{
      width: 4.07rem;
      height:0.35rem;
      font-size: 18px;
      margin-left: 0.5rem;
      color: #8e8e8e;

    }

  }
  .xb{
    width:5.5rem;
    height:0.79rem;
    background: #fff;
    border:1px solid #dfdfdf;
    font-size: 18px;
    font-weight: 800;
    line-height: 0.79rem;
    padding-left: 0.2rem;
    position: absolute;
    left: 0.36rem;
    top:1.9rem;
    input{
      width: 4.07rem;
      height:0.35rem;
      font-size: 18px;
      margin-left: 0.5rem;
      color: #8e8e8e;

    }

  }
  .zy{
    width:5.5rem;
    height:0.79rem;
    background: #fff;
    border:1px solid #dfdfdf;
    font-size: 18px;
    font-weight: 800;
    line-height: 0.79rem;
    padding-left: 0.2rem;
    position: absolute;
    left: 0.36rem;
    top:2.69rem;
    input{
      width: 4.07rem;
      height:0.35rem;
      font-size: 18px;
      margin-left: 0.5rem;
      color: #8e8e8e;

    }

  }

  .sjh{
    width:5.5rem;
    height:0.79rem;
    background: #fff;
    border:1px solid #dfdfdf;
    font-size: 18px;
    font-weight: 800;
    line-height: 0.79rem;
    padding-left: 0.2rem;
    position: absolute;
    left: 0.36rem;
    top:3.48rem;
    input{
      width: 3.8rem;
      height:0.35rem;
      font-size: 18px;
      margin-left: 0.2rem;
      color: #8e8e8e;

    }

  }
//第二个信息
.m{
  width:2.4rem;
  height:0.33rem;
  position: absolute;
  left:0.35rem;
  top:4.85rem;
  background:url(../img/xing1.jpg)no-repeat;
  ul{
    text-align: center;
    line-height:0.29rem ;
    font-size: 14px;
    font-weight: 800;
  }
}
  .sza{
    width:5.5rem;
    height:0.79rem;
    background: #fff;
    border:1px solid #dfdfdf;
    font-size: 18px;
    font-weight: 800;
    line-height: 0.79rem;
    padding-left: 0.2rem;
    position: absolute;
    left: 0.36rem;
    top:5.4rem;
    input{
      width: 2rem;
      height:0.85rem;
      font-size: 18px;
      margin-left: 0.2rem;
      color: #8e8e8e;

    }

  }
  .qr{
    width:5.5rem;
    height:0.79rem;
    background: #fff;
    border:1px solid #dfdfdf;
    font-size: 18px;
    font-weight: 800;
    line-height: 0.79rem;
    padding-left: 0.2rem;
    position: absolute;
    left: 0.36rem;
    top:6.19rem;
    input{
      width: 2.9rem;
      height:0.85rem;
      font-size: 18px;
      margin-left: 0.2rem;
      color: #8e8e8e;

    }

  }
  input {
    border: none;
    background: none;
    outline: medium;
  }
.enroll a{
  width:5.7rem;
  height:0.79rem;
  background: #e0a423 ;
  position: absolute;
  top:7.54rem;
  left:0.36rem;
  color:#fff;
  text-align: center;
  line-height: 0.79rem;
  font-size: 20px;
  border-radius: 0.07rem;

}


}

